body{
	
	font-family: Helvetica;
	
	background-color: #4D4936;
	
	color: #4D4936;
	
}

header{
	
	padding-top: 20px;
	
	padding-bottom: 20px;
	
}

#wrapper{
	
	width: 900px;
	
	margin: auto;
	
	background-color: #FAF9DC;
	
	margin-top: 10px;
	
	margin-bottom: 10px;
	
	border: 1px solid black;
	
}

.headerPicLeft{
	
	margin-right: -10px;
	
	margin-bottom: 17mm;
	
	margin-left: 2mm;
	
	padding: 0mm;
	
}

.headerPicRight{
	
	margin-left: 20px;
	
	margin-top: 2mm;
	
	padding: 0mm;
	
}

.navTable{
	
	margin-top: -52px;
	
	margin-left: 2mm;
	
	padding: 1mm;
	
	margin-bottom: -6px;
	
}

.navLinks{
	
	font-size: 18pt;
	
	font-family: Papyrus;
	
	color: black;
	
	padding: 2mm;
	
	border: 1px solid #4D4936;
	
	background-color: #D9D8BF;
	
	font-weight: bolder;
	
	margin-left: 5mm;
	
	margin-left: 2mm;
	
	margin-right: 2mm;
	
}

.currentPage{
	
	font-size: 18pt;
	
	font-family: Papyrus;
	
	color: black;
	
	padding: 1mm;
	
	font-weight: bolder;
	
	border: 1px solid #4D4936;
	
	background-image: url(images/bamboo-mat-texture-fade.png);
	
}

#usedLinks{
	
	text-decoration: none;
	
	color: black;
	
}

.wrapperBox{
	
	border: 1px solid #4D4936;
	
	margin: 3.5mm;
	
	margin-top: 0mm;
	
}

.subHeadingOne{
	
	font-size: 16px;
	
	padding: 3mm;
	
	font-weight: normal;
	
	font-style: none;
	
	margin-left: 5mm;
	
}

#subHeadingOneBolder{
	
	font-weight: bolder;
	
	font-size: 18px;
	
}

#subHeadingOneItalics{
	
	font-style: italic;
	
}

.boxes{
	
	border: 1px dashed #4D4936;
	
	display: inline-block;
	
	margin-left: 10mm;
	
	margin-right: 55mm;
	
	padding: 1mm;
	
}

#paragraphs{
	
	margin-top: 1mm;
	
	margin-bottom: 1mm;
	
}

#bottomBox{
	
	margin-top: 4mm
	
}

.boldSource{
	
	font-weight: bolder;
	
}

.subHeadingTwo{
	
	font-weight: bolder;
	
	font-size: 18px;
	
	padding: 2mm;
	
	font-style: none;
	
	margin-left: 2mm;
	
	width: 600px;
	
}

.fish{
	
	font-weight: normal;
		
	text-decoration: line-through;
	
}

.paragraph2{
	
	margin-left: 4mm;
	
	margin-right: 25mm;
}

.sushiLinks{
	
	text-decoration: none;
	
	color: blue;
	
}

.footer{
	
	font-family: Papyrus;
	
	font-size: 10pt;
	
	color: #4D4936;
	
	text-align: center;
	
}

.maki{
	
	margin: 4mm;
	
	margin-right: 90mm;
	
}

.commonRolls{
	
	margin: 4mm;
	
	margin-bottom: 0px;
	
	font-weight: bolder;
	
	font-size: 18px;
		
}

.rolls{
	
	width: 800px;
	
	border-top: 1px solid #4D4936;
	
	border-bottom-color: transparent;
	
	border-left-color: transparent;
	
	border-right-color: transparent;
	
	margin-left: 3mm;
	
	margin-right: 0px;
	
	margin-top: 1mm;
		
}

.rollBold{
	
	margin-left: 5mm;
	
	font-weight: bolder;
	
}

.roll{
	
	margin-left: 15mm;
	
}

.makiImageText{
	
	float: right;
	
	border: 1px solid #4D4936;
	
	padding: 10px;
	
	background-color: #FAF9DC;
	
}

#makiImage{
	
	width: 200px;
	
	margin-right: 10px;
	
	margin-left: 0px;
	
	margin-top: -100px;
	
}

.imageMaki{
	
	border: 1px solid grey;
	
	width: 200px;
	
}

.h5{
	
	text-align: center;
	
	margin-top: 0px;
	
	margin-bottom: 0px;
	
}